Repository cosmos/sdk-tutorials, pull requests merged in 2022-09, with the labels that each got.

#1197 Update local testing for the Go Relayer
  academy/4-ibc/go-relayer.md
  academy/4-ibc/hermes-relayer.md
Labels: b9lab-cosmos-academy

#1178 Added draft for technical terms section
  .vuepress/config.js
  tutorials/tech-terms/index.md
Labels: b9lab-cosmos-academy, b9lab-internal-review

#1182 IBC custom app draft
  academy/ibc-dev/custom-ibc-application.md
  academy/ibc-dev/ibcapp_app-vs-ica.md
  academy/ibc-dev/ibcapp_intro.md
  academy/ibc-dev/ibcapp_packet.md
  academy/ibc-dev/ibcapp_steps.md
  academy/ibc-dev/images/packetflow.png
Labels: b9lab-cosmos-academy, b9lab-external-review

#1191 Draft: update ibc relayer
  academy/4-ibc/go-relayer.md
  academy/4-ibc/hermes-relayer.md
  academy/4-ibc/relayer-intro.md
Labels: b9lab-cosmos-academy

#1201 Draft: update ibc denom tut
  tutorials/understanding-ibc-denoms/images/ibc_token.png
  tutorials/understanding-ibc-denoms/index.md
Labels: b9lab-cosmos-academy

#1169 My own chain v2
  .gitignore
  .vscode/spellright.dict
  academy/3-my-own-chain/can-play.md
  academy/3-my-own-chain/create-handling.md
  academy/3-my-own-chain/create-message.md
  academy/3-my-own-chain/events.md
  academy/3-my-own-chain/game-deadline.md
  academy/3-my-own-chain/game-fifo.md
  academy/3-my-own-chain/game-forfeit.md
  academy/3-my-own-chain/game-wager.md
  academy/3-my-own-chain/game-winner.md
  academy/3-my-own-chain/gas-meter.md
  academy/3-my-own-chain/ignitecli.md
  academy/3-my-own-chain/images/faucet-request-1.png
  academy/3-my-own-chain/images/go_test_debug_suite_test.png
  academy/3-my-own-chain/images/ignite-vue-keplr-no-assets.png
  academy/3-my-own-chain/images/ignite-vue-keplr-with-tokens.png
  academy/3-my-own-chain/play-game.md
  academy/3-my-own-chain/reject-game.md
  academy/3-my-own-chain/stored-game.md
  academy/3-my-own-chain/wager-denom.md
  academy/cosmjs-checkers-sections/cosmjs-gui.md
  academy/cosmjs-checkers-sections/cosmjs-messages.md
  academy/cosmjs-checkers-sections/cosmjs-objects.md
  academy/cosmjs-checkers-sections/external-gui.md
  academy/cosmjs-checkers-sections/images/black-moves-first-piece.png
  academy/cosmjs-checkers-sections/images/checkers-access-address.png
  academy/cosmjs-checkers-sections/images/checkers-add-support.png
  academy/cosmjs-checkers-sections/images/list-games-1.png
  academy/cosmjs-checkers-sections/images/list-keplr-beta-support.png
  academy/cosmjs-checkers-sections/images/show-game-1-move.png
  academy/cosmjs-checkers-sections/images/window-create-game.png
  academy/cosmjs-checkers-sections/server-side.md
  academy/my-own-chain-exer/stored-game-exer.md
Labels: b9lab-cosmos-academy

#1168 docs: First shot at run in prod.
  academy/3-my-own-chain/run-prod.md
  academy/xl-run-prod/0-overview.md
  academy/xl-run-prod/1-software.md
  academy/xl-run-prod/2-keys.md
  academy/xl-run-prod/3-genesis.md
  academy/xl-run-prod/4-network.md
  academy/xl-run-prod/5-run.md
  academy/xl-run-prod/6-migration.md
Labels: b9lab-cosmos-academy

#1214 Update quiz-week1.md
  course-ida/quiz-week1.md
Labels: b9lab-cosmos-academy

#1189 Checkers v2 - Leaderboard and Migration
  academy/3-my-own-chain/migration.md
Labels: b9lab-cosmos-academy

#1224 Remove duplicate CosmJS content.
  academy/archive-content/xl-cosmjs/create-custom.md
  academy/archive-content/xl-cosmjs/first-steps.md
  academy/archive-content/xl-cosmjs/images/cosmjs-tree.png
  academy/archive-content/xl-cosmjs/images/keplr_send_to_faucet.png
  academy/archive-content/xl-cosmjs/images/keplr_share_account.png
  academy/archive-content/xl-cosmjs/images/keplr_testnet_addition.png
  academy/archive-content/xl-cosmjs/intro.md
  academy/archive-content/xl-cosmjs/multi-msg.md
  academy/archive-content/xl-cosmjs/with-keplr.md
Labels: b9lab-cosmos-academy
