Repository cosmos/sdk-tutorials, pull requests merged in 2022-05, with the labels that each got.

#991 Draft - Rh blockchain basics
  academy/0.0-B9lab-Blockchains/1_blockchain.md
  academy/0.0-B9lab-Blockchains/2_public.md
  academy/0.0-B9lab-Blockchains/3_managed.md
  academy/0.0-B9lab-Blockchains/4_consensus.md
  academy/0.0-B9lab-Blockchains/5_crypto.md
  academy/0.0-B9lab-Blockchains/6_quiz.txt
  academy/0.0-B9lab-Blockchains/images/00_02_p2p_network_dark.png
  academy/0.0-B9lab-Blockchains/images/00_03_network_structures_dark_notitle-01.png
  academy/0.0-B9lab-Blockchains/images/00_04_double_spending-01.png
  academy/0.0-B9lab-Blockchains/images/00_05_genesis_block_dark_notitle-01.png
  academy/0.0-B9lab-Blockchains/images/00_06_byzantine_generals_dark_notitle-01.png
  academy/0.0-B9lab-Blockchains/images/00_07_delegated_pos-01.png
  academy/0.0-B9lab-Blockchains/images/00_08_public_vs_private_comparison-01.png
  academy/0.0-B9lab-Blockchains/images/00_09_computing_paradigms.png
  academy/0.0-B9lab-Blockchains/images/00_10_public_vs_private_comparison_table.png
  academy/0.0-B9lab-Blockchains/images/00_11_rsa_keys_v1.png
  academy/0.0-B9lab-Blockchains/images/00_12_digital_signature_keys_v2.png
  academy/0.0-B9lab-Blockchains/images/00_13_mix_n_match_keys_v3.png
  academy/0.0-B9lab-Blockchains/images/00_14_double_spending_v2-01.png
  academy/0.0-B9lab-Blockchains/images/00_15_ethereum_virtual_machine.png
  academy/0.0-B9lab-Blockchains/images/00_16_bitcoin_block_headers_literal.png
  academy/0.0-B9lab-Blockchains/images/00_17_mining-01.png
  academy/0.0-B9lab-Blockchains/images/00_18_block_uncles-01.png
  academy/0.0-B9lab-Blockchains/images/timeline.png
Labels: b9lab-cosmos-academy

#1042 IBC connections draft PR
  academy/ibc/channels.md
  academy/ibc/clients.md
  academy/ibc/ibc-tao-dev.md
  academy/ibc/images/channelhandshake.png
  academy/ibc/images/connectionstate.png
  academy/ibc/images/lightclient.png
  academy/ibc/images/open_ack.png
  academy/ibc/images/open_confirm.png
  academy/ibc/images/open_init.png
  academy/ibc/images/open_try.png
  academy/ibc/images/packetflow.png
Labels: b9lab-cosmos-academy, b9lab-internal-review

#1029 Draft - Token transfer
  academy/ibc/images/applicationlogic.png
  academy/ibc/images/sinktosource.png
  academy/ibc/images/sourcechain.png
  academy/ibc/images/sourcesinklogic.png
  academy/ibc/images/sourcetosink.png
  academy/ibc/images/transferoverview.png
  academy/ibc/token-transfer.md
Labels: b9lab-cosmos-academy

#939 docs: Added words about the Typescript relayer of Starport.
  academy/4-my-own-chain/wager-denom.md
Labels: b9lab-cosmos-academy, b9lab-internal-review

#989 Draft - IBC intro section for decision makers
  academy/ibc/images/app.png
  academy/ibc/images/channelsstate.png
  academy/ibc/images/dataflow.png
  academy/ibc/images/ibchandler.png
  academy/ibc/images/ibcmodule.png
  academy/ibc/images/ibcoverview.png
  academy/ibc/images/internetofchains.png
  academy/ibc/images/mintscanIBC.png
  academy/ibc/images/path.png
  academy/ibc/images/tao.png
  academy/ibc/what-is-ibc.md
Labels: b9lab-cosmos-academy, b9lab-internal-review, b9lab-qa-review

#1067 Draft - IBC Tooling
  academy/ibc/ibc-tooling.md
  academy/ibc/images/cosmoschannels.png
  academy/ibc/images/cosmosconnections.png
  academy/ibc/images/cosmososmasischannels.png
  academy/ibc/images/detailscosmoszone.png
  academy/ibc/images/ftstx1.png
  academy/ibc/images/ftstx2.png
  academy/ibc/images/iobscan1.png
  academy/ibc/images/iobscan2.png
  academy/ibc/images/mapofzones1.png
  academy/ibc/images/mapofzones2.png
  academy/ibc/images/mintscanchanneloevrview.png
  academy/ibc/images/mintscanosmosis1.png
  academy/ibc/images/mintscanosmosis2.png
  academy/ibc/images/mintscanoverview.png
  academy/ibc/images/mostactivezones.png
  academy/ibc/images/onchannel1.png
  academy/ibc/images/onchannel2.png
  academy/ibc/images/onchannel3.png
  academy/ibc/images/onchannel4.png
Labels: b9lab-cosmos-academy, b9lab-external-review, b9lab-internal-review

#1071 Add Setup page
  academy/setup.md
Labels: b9lab-cosmos-academy

#983 docs: CosmJs general tutorial
  academy/xl-cosmjs/first-steps.md
  academy/xl-cosmjs/images/cosmjs-tree.png
  academy/xl-cosmjs/images/keplr_send_to_faucet.png
  academy/xl-cosmjs/images/keplr_share_account.png
  academy/xl-cosmjs/images/keplr_testnet_addition.png
  academy/xl-cosmjs/intro.md
  academy/xl-cosmjs/multi-msg.md
  academy/xl-cosmjs/with-keplr.md
Labels: b9lab-cosmos-academy, b9lab-internal-review

#994 docs: Create your own custom CosmJs interfaces
  academy/xl-cosmjs/create-custom.md
Labels: b9lab-cosmos-academy, b9lab-internal-review

#1052 WIP - Internal B9lab language and style check, review of highlight boxes
  academy/0-welcome/index.md
  academy/1-what-is-cosmos/atom-staking.md
  academy/1-what-is-cosmos/blockchain-and-cosmos.md
  academy/1-what-is-cosmos/cosmos-ecosystem.md
  academy/1-what-is-cosmos/index.md
  academy/2-main-concepts/accounts.md
  academy/2-main-concepts/architecture.md
  academy/2-main-concepts/base-app.md
  academy/2-main-concepts/bridges.md
  academy/2-main-concepts/context.md
  academy/2-main-concepts/events.md
  academy/2-main-concepts/index.md
  academy/2-main-concepts/messages.md
  academy/2-main-concepts/migrations.md
  academy/2-main-concepts/modules.md
  academy/2-main-concepts/multistore-keepers.md
  academy/2-main-concepts/protobuf.md
  academy/2-main-concepts/queries.md
  academy/2-main-concepts/transactions.md
  academy/3-running-a-chain/index.md
  academy/3-running-a-chain/node-api-and-cli.md
  academy/4-my-own-chain/cosmwasm.md
  academy/4-my-own-chain/create-message.md
  academy/4-my-own-chain/events.md
  academy/4-my-own-chain/game-fifo.md
  academy/4-my-own-chain/game-wager.md
  academy/4-my-own-chain/game-winner.md
  academy/4-my-own-chain/ignitecli.md
  academy/4-my-own-chain/index.md
  academy/4-my-own-chain/migration.md
  academy/4-my-own-chain/stored-game.md
  academy/4-my-own-chain/wager-denom.md
Labels: b9lab-cosmos-academy

#1079 fix: Add IDA links to CosmJS pages.
  .vuepress/config.js
Labels: b9lab-cosmos-academy

#945 docs: Guided exercise interactions via CLI
  README.md
  academy/3-running-a-chain/node-api-and-cli.md
  academy/4-my-own-chain/can-play.md
  academy/4-my-own-chain/create-handling.md
  academy/4-my-own-chain/create-message.md
  academy/4-my-own-chain/events.md
  academy/4-my-own-chain/game-deadline.md
  academy/4-my-own-chain/game-fifo.md
  academy/4-my-own-chain/game-forfeit.md
  academy/4-my-own-chain/game-wager.md
  academy/4-my-own-chain/game-winner.md
  academy/4-my-own-chain/gas-meter.md
  academy/4-my-own-chain/ignitecli.md
  academy/4-my-own-chain/play-game.md
  academy/4-my-own-chain/reject-game.md
  academy/4-my-own-chain/stored-game.md
  academy/4-my-own-chain/wager-denom.md
Labels: b9lab-cosmos-academy, b9lab-internal-review

#1001 docs: Add unit tests explanations and examples
  academy/4-my-own-chain/create-message.md
  academy/4-my-own-chain/events.md
  academy/4-my-own-chain/game-wager.md
  academy/4-my-own-chain/play-game.md
Labels: b9lab-cosmos-academy, b9lab-external-review

#1103 docs: Updates following from academy students
  academy/2-main-concepts/architecture.md
  academy/3-running-a-chain/node-api-and-cli.md
  academy/4-my-own-chain/external-gui.md
  academy/4-my-own-chain/reject-game.md
Labels: b9lab-cosmos-academy

#1104 docs: Change to content following support
  academy/2-main-concepts/multistore-keepers.md
  academy/3-running-a-chain/node-api-and-cli.md
  academy/4-my-own-chain/can-play.md
  academy/4-my-own-chain/create-handling.md
  academy/4-my-own-chain/create-message.md
  academy/4-my-own-chain/events.md
  academy/4-my-own-chain/game-deadline.md
  academy/4-my-own-chain/game-fifo.md
  academy/4-my-own-chain/game-forfeit.md
  academy/4-my-own-chain/game-wager.md
  academy/4-my-own-chain/game-winner.md
  academy/4-my-own-chain/ignitecli.md
  academy/4-my-own-chain/play-game.md
  academy/4-my-own-chain/reject-game.md
  academy/4-my-own-chain/stored-game.md
  academy/4-my-own-chain/wager-denom.md
Labels: b9lab-cosmos-academy

#1105 docs: cleanup of spaces
  academy/0-welcome/index.md
  academy/0.0-B9lab-Blockchains/1_blockchain.md
  academy/0.0-B9lab-Blockchains/2_public.md
  academy/0.0-B9lab-Blockchains/3_managed.md
  academy/0.0-B9lab-Blockchains/4_consensus.md
  academy/0.0-B9lab-Blockchains/6_quiz.md
  academy/1-what-is-cosmos/atom-staking.md
  academy/1-what-is-cosmos/blockchain-and-cosmos.md
  academy/1-what-is-cosmos/cosmos-ecosystem.md
  academy/1-what-is-cosmos/index.md
  academy/2-main-concepts/accounts.md
  academy/2-main-concepts/base-app.md
  academy/2-main-concepts/bridges.md
  academy/2-main-concepts/modules.md
  academy/2-main-concepts/multistore-keepers.md
  academy/2-main-concepts/transactions.md
  academy/3-running-a-chain/index.md
  academy/4-my-own-chain/cosmjs-gui.md
  academy/4-my-own-chain/gas-meter.md
  academy/4-my-own-chain/index.md
  academy/4-my-own-chain/migration.md
  academy/5-whats-next/index.md
  academy/ibc/channels.md
  academy/ibc/clients.md
  academy/ibc/custom_ibc_application.md
  academy/ibc/gorelayer.md
  academy/ibc/hermesrelayer.md
  academy/ibc/ibc-tao-dev.md
  academy/ibc/ibc-tooling.md
  academy/ibc/ica.md
  academy/ibc/relayerintro.md
  academy/ibc/token-transfer.md
  academy/ibc/what-is-ibc.md
  academy/xl-cosmjs/create-custom.md
  academy/xl-cosmjs/first-steps.md
  academy/xl-cosmjs/intro.md
  academy/xl-cosmjs/multi-msg.md
  academy/xl-cosmjs/with-keplr.md
  authz-module/index.md
  course-ida/discord-info.md
  course-ida/quiz-week1.md
  docs/b9lab-processes.md
  docs/platform-features.md
  feature-test/index.md
Labels: b9lab-cosmos-academy

#1106 CMC final check 2
  README.md
  academy/2-main-concepts/accounts.md
  academy/2-main-concepts/architecture.md
  academy/2-main-concepts/base-app.md
  academy/2-main-concepts/bridges.md
  academy/2-main-concepts/context.md
  academy/2-main-concepts/events.md
  academy/2-main-concepts/ibc.md
  academy/2-main-concepts/messages.md
  academy/2-main-concepts/modules.md
  academy/2-main-concepts/protobuf.md
  academy/2-main-concepts/queries.md
  academy/2-main-concepts/transactions.md
  academy/3-running-a-chain/node-api-and-cli.md
  academy/4-my-own-chain/cosmwasm.md
  academy/4-my-own-chain/create-handling.md
  academy/4-my-own-chain/events.md
  academy/4-my-own-chain/game-fifo.md
  academy/4-my-own-chain/game-wager.md
  academy/4-my-own-chain/game-winner.md
  academy/4-my-own-chain/migration.md
  academy/4-my-own-chain/reject-game.md
  academy/4-my-own-chain/stored-game.md
  academy/4-my-own-chain/wager-denom.md
  academy/ibc/channels.md
  academy/ibc/clients.md
  academy/ibc/custom_ibc_application.md
  academy/ibc/gorelayer.md
  academy/ibc/hermesrelayer.md
  academy/ibc/ibc-tao-dev.md
  academy/ibc/ibc-tooling.md
  academy/ibc/ica.md
  academy/ibc/relayerintro.md
  academy/ibc/token-transfer.md
  academy/ibc/what-is-ibc.md
  academy/xl-cosmjs/create-custom.md
  academy/xl-cosmjs/first-steps.md
  academy/xl-cosmjs/intro.md
  academy/xl-cosmjs/multi-msg.md
  academy/xl-cosmjs/with-keplr.md
  course-ida/landingpages/week3-lp.md
  course-ida/landingpages/week4-lp.md
Labels: b9lab-cosmos-academy

#1073 docs: Add exercise for My own chain in IDA
  .vuepress/config.js
  academy/4-my-own-chain-exer/can-play-exer.md
  academy/4-my-own-chain-exer/create-handling-exer.md
  academy/4-my-own-chain-exer/create-message-exer.md
  academy/4-my-own-chain-exer/events-exer.md
  academy/4-my-own-chain-exer/exercise-intro.md
  academy/4-my-own-chain-exer/game-fifo-exer.md
  academy/4-my-own-chain-exer/game-wager-exer.md
  academy/4-my-own-chain-exer/gas-meter-exer.md
  academy/4-my-own-chain-exer/migration-exer.md
  academy/4-my-own-chain-exer/play-game-exer.md
  academy/4-my-own-chain-exer/reject-game-exer.md
  academy/4-my-own-chain-exer/stored-game-exer.md
  academy/4-my-own-chain-exer/wager-denom-exer.md
  academy/4-my-own-chain-exer/week2-exercise.md
  academy/4-my-own-chain/can-play.md
Labels: b9lab-cosmos-academy

#1107 docs: updates from support
  CONTRIBUTING.md
  academy/0.0-B9lab-Blockchains/5_crypto.md
  academy/2-main-concepts/architecture.md
  academy/2-main-concepts/bridges.md
  academy/2-main-concepts/migrations.md
  academy/3-running-a-chain/node-api-and-cli.md
  academy/4-my-own-chain/academy-notes.txt
  academy/4-my-own-chain/can-play.md
  academy/4-my-own-chain/cosmwasm.md
  academy/4-my-own-chain/create-handling.md
  academy/4-my-own-chain/events.md
  academy/4-my-own-chain/game-forfeit.md
  academy/4-my-own-chain/game-winner.md
  academy/4-my-own-chain/ignitecli.md
  academy/4-my-own-chain/reject-game.md
  academy/4-my-own-chain/server-side.md
  academy/4-my-own-chain/stored-game.md
  academy/ibc/channels.md
  academy/ibc/clients.md
  academy/ibc/custom_ibc_application.md
  academy/ibc/gorelayer.md
  academy/ibc/hermesrelayer.md
  academy/ibc/ibc-tao-dev.md
  academy/ibc/ibc-tooling.md
  academy/ibc/ica.md
  academy/ibc/relayerintro.md
  academy/ibc/token-transfer.md
  academy/ibc/what-is-ibc.md
  academy/xl-cosmjs/with-keplr.md
  authz-module/index.md
  tutorials/understanding-feegrant/index.md
  tutorials/understanding-ibc-denoms/index.md
Labels: b9lab-cosmos-academy

#1114 docs: fix links
  academy/4-my-own-chain/cosmjs-gui.md
  academy/4-my-own-chain/cosmjs-messages.md
  academy/4-my-own-chain/cosmjs-objects.md
  academy/xl-cosmjs/first-steps.md
  academy/xl-cosmjs/multi-msg.md
Labels: b9lab-cosmos-academy

#1120 docs: adjust exercise description
  academy/4-my-own-chain-exer/week2-exercise.md
  academy/4-my-own-chain/academy-notes.txt
  academy/4-my-own-chain/ignitecli.md
Labels: b9lab-cosmos-academy

#1124 docs: updates from support
  academy/2-main-concepts/multistore-keepers.md
  academy/3-running-a-chain/node-api-and-cli.md
  academy/4-my-own-chain-exer/week2-exercise.md
  academy/4-my-own-chain/create-message.md
  academy/4-my-own-chain/game-deadline.md
  academy/4-my-own-chain/game-forfeit.md
  academy/4-my-own-chain/game-wager.md
  academy/4-my-own-chain/game-winner.md
  academy/4-my-own-chain/reject-game.md
  academy/4-my-own-chain/server-side.md
  academy/4-my-own-chain/stored-game.md
Labels: b9lab-cosmos-academy

#1128 Final check of IDA content
  academy/4-my-own-chain-exer/can-play-exer.md
  academy/4-my-own-chain-exer/create-handling-exer.md
  academy/4-my-own-chain-exer/create-message-exer.md
  academy/4-my-own-chain-exer/game-fifo-exer.md
  academy/4-my-own-chain-exer/play-game-exer.md
  academy/4-my-own-chain-exer/reject-game-exer.md
  academy/4-my-own-chain-exer/stored-game-exer.md
  academy/4-my-own-chain/cosmjs-gui.md
  academy/4-my-own-chain/cosmjs-messages.md
  academy/4-my-own-chain/cosmjs-objects.md
  academy/4-my-own-chain/cosmwasm.md
  academy/4-my-own-chain/migration.md
  academy/4-my-own-chain/server-side.md
  academy/4-my-own-chain/wager-denom.md
  academy/5-whats-next/index.md
  academy/ibc/clients.md
  tutorials/understanding-feegrant/index.md
Labels: b9lab-cosmos-academy
